using System;
using System.Collections.Generic;
using System.Linq;
using System;
using $modelNamespace;

namespace Dao.NHibernate
{
	public class $daoClassName : AbstractNHibernateDao<${entityClassName}, long>{

	}

} 