#set($package = $aClass.getPackage())
#set($entityClassName = $aClass.getSimpleName())
package ${daoPackage};

import ${package}.${entityClassName};
import ${groupId}.dao.impl.JpaGenericDAO;
import ${groupId}.dao.interfaces.GenericDao;

public class ${entityClassName}DAO extends JpaGenericDAO<$entityClassName> implements GenericDao<$entityClassName>{

        @Override
      	protected Class<$entityClassName> getDomainClass() {
	         return ${entityClassName}.class;
	    }
	      
}