package ${serviceIntefacePackage};

import java.io.Serializable;
import java.util.List;

import org.springframework.security.annotation.Secured;
import org.springframework.transaction.annotation.Transactional;
import ${dtoIntefacePackage}.${interfaceDtoClassName};

@Secured("ROLE_ADMIN")
public interface ${className} {
	
	@Transactional(readOnly = false)
	public void add(${interfaceDtoClassName} ${dtoVarName});

	@Transactional(readOnly = false)
	public void delete(Serializable id);

	@Transactional(readOnly = false)
	public void update(${interfaceDtoClassName} ${dtoVarName});
	
	@Transactional(readOnly = true)
	public ${interfaceDtoClassName} retrieve(Serializable id);
	
	@Transactional(readOnly = true)
	public List<${interfaceDtoClassName}> retrieveAll();

}